<div class="layout">
    <h2>Main</h2>
    {{ regions.main }}

    <h2>Quicktabs</h2>
    {{ regions.quicktab_1 }}
    {{ regions.quicktab_2 }}
    {{ regions.quicktab_3 }}

    <h2>Below</h2>
    {{ regions.below_quicktab }}

</div>
