<section class="layout">
    {% if label %}
        <header class="widget-section-header">
            <h1 class="widget-title">{{ label }}</h1>
            <nav class="widget-links">{{ regions.links }}</nav>
        </header>
    {% endif %}
    <div class="widget-3col-wrapper">
        <section class="widget-left">{{ regions.left }}</section>
        <section class="widget-right-first">{{ regions.right_1 }}</section>
        <section class="widget-right-second">{{ regions.right_2 }}</section>
    </div>
    <div class="clearfix"></div>
</section>
