<div class="layout">
  <div class="quicktabs-layout-column left-col-wrapper">
    {{ regions.main }}
  </div>
  <div class="quicktabs-layout-column right-col-wrapper">
    <div class="layout-region region-quicktabs-wrapper">
      <ul>
        {% for tab in tabs %}
          <li><a href="#{{ tab.id }}">{{ tab.label }}</a></li>
        {% endfor %}
      </ul>
      {% for tab in tabs %}
        <div id="{{ tab.id }}">{{ tab.content }}</div>
      {% endfor %}
    </div>
    {{ regions.below_quicktab }}
  </div>
  <div class="clearfix"></div>
</div>
